*
!/.gitignore
!/constants.sh
!/common.sh
!/usage.sh
!/ls*.sh
!/ltu.sh
!/download.sh
!/utils_*.sh
!/use.sh
!/unpack.sh
!/install.sh
!/toolchain
!/test/
!/scripts/
!/test/**
!/README.md
!/LICENSE
!/Makefile
!/.travis.yml
